[submodule "categories"]
	path = categories
	url = https://github.com/vikraman/categories.git
[submodule "basic-hott"]
	path = basic-hott
	url = https://github.com/vikraman/basic-hott.git
[submodule "agda-stdlib"]
	path = agda-stdlib
	url = https://github.com/agda/agda-stdlib.git
[submodule "HoTT-Agda"]
	path = HoTT-Agda
	url = https://github.com/awswan/HoTT-Agda.git
	branch = agda-2.6.1-compatible
[submodule "cubical"]
	path = cubical
	url = https://github.com/agda/cubical.git
