[submodule "categories"]
	path = categories
	url = https://github.com/vikraman/categories.git
[submodule "basic-hott"]
	path = basic-hott
	url = https://github.com/vikraman/basic-hott.git
[submodule "agda-stdlib"]
	path = agda-stdlib
	url = https://github.com/agda/agda-stdlib.git
